 body
{
background-color:#ffe4c4;
margin :0;
font-family:Monotype Corsiva;
text-align:center;
}
 h1
{
margin-top:0;
}
.top
{
background-color:lightpink;
}
.skill-row
{
width:40%;
margin:70px auto 70px auto;
text-align:left;
}
.bot
{
background-color:#f08080;
height:100px;
padding:20px;
} 
img
{
border-radius:70%;
}
.btn
{
background-color:#f08080;
border-radius:28px;
border:1px solid#c584f3;
cursor:pointer;
padding:7px 25px;
}
.skill
{
width:20%;
float:left;
}